body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.skip-color{
    color: #FBA24F;
}
.flexible{
    margin-top:15px ;
    display: flex;
    margin-bottom: 140px;
}
#diet-text{
    color: #575757;
    font-size: 30px;
}
#no-diet{
    color: gray;
    font-size: 15px;
    padding-bottom: 23px;
}
.link-btn{
    text-decoration: none;
    border-radius: 30px;
    color: white;
    background-image: linear-gradient(tomato,orange);
    padding: 20px 40px;
   
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 85%;
}
#about-text{
    color: gray;
    padding-top: 40px;
    padding-bottom: 100px;
}
.about-bg{
    background-image: url(images/about-bg.png);
}
.recipies{
    margin: 0 auto;
    text-align: center;
    width: 45%;
}
.gray-text{
    color: gray;
}
.card-part{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.card{
    width: 25%;
    margin: 2%;
    padding: 1%;
    box-shadow: 10px 10px 40px tan;
    border-radius: 20px;
}
.user-part{
    display: flex;
    width: 90%;
    box-shadow: 10px 10px 40px tan;
    border-radius: 20px;
    justify-content: center;

}
.user-item{
    padding: 44px;
    width: 20%;
}